body {
    font-family: Arial, sans-serif;
}
#sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #111;
    transition: 0.3s;
    z-index: 1000;
}
#sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
#sidebar a:hover {
    color: #f1f1f1;
}
#menu-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    color: #111;
    z-index: 1000;
}
#main {
    margin-left: 0; /* Ajusta este valor según el ancho de tu sidebar */
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh; /* Asegura que el main ocupe al menos la altura de la ventana */
    transition: margin-left 0.3s; /* Transición suave para el desplazamiento del sidebar */
}
#titulo {
    margin-top: calc(10px + 2em); /* Ajusta el margen superior para que quede debajo del navbar */
    font-size: 2em;
}
.week-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #444;
    margin-right: auto;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    flex-grow: 0;
}
.week-btn:hover {
    background-color: #555;
}

/* Style for the navbar */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas */
    padding: 10px; /* Añade un poco de relleno */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
    align-items: center; /* Alinea los elementos verticalmente */
}

/* Style for the song buttons */
.song-btn {
    margin: 5px; /* Espacio entre los botones */
    color: white;
    background-color: #444;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#botones {
    margin-left: auto;
}

.song-btn:hover {
    background-color: #555;
}